@import "tailwindcss";

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@theme {
  --animate-clip-loading: clip-loading 2s ease-in-out infinite;

  @keyframes clip-loading {
    0% {
      clip-path: inset(100% 0 0 0);
    }

    50% {
      clip-path: inset(0 0 0 0);
    }

    100% {
      clip-path: inset(0 0 0 0);
      opacity: 0;
    }
  }
}